.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #FF3939;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 2rem;
  color: white;
}

.App-content {
  flex: 1;
  padding: 2rem;
}

.App-footer {
  background-color: #030303;
  padding: 10px;
}

:root {
  --primary-color: black;
  --text-color: white;
}
