/* Global CSS Rules */
/* STILL WORKING ON */
* {
  box-sizing: border-box;
}

body, html {
  background: black;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

/* Loading Spinner */
.loading {
  width: 50px;
  height: 50px;
  border: 10px solid grey;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

